<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tsg_Trial>
            <version>0.0.1</version>
        </Tsg_Trial>
    </modules>
    <frontend>
        <routers>
            <trial>
                <use>standard</use>
                <args>
                    <module>Tsg_Trial</module>
                    <frontName>helloMagento</frontName>
                </args>
            </trial>
        </routers>
    </frontend>
    <global>

    </global>

    <default>

    </default>
</config>