<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tsg_Trial>
            <version>0.0.1</version>
        </Tsg_Trial>
    </modules>
    <frontend>
        <routers>
            <trial>
                <use>standard</use>
                <args>
                    <module>Tsg_Trial</module>
                    <frontName>helloMagento</frontName>
                </args>
            </trial>
        </routers>
        <layout>
            <updates module="trial">
                <tsg_trial>
                    <file>tsg_trial.xml</file>
                </tsg_trial>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <tsgtrial>
                <class>Tsg_Trial_Block</class>
            </tsgtrial>
        </blocks>
    </global>
    <default>

    </default>
</config>