<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TSG_Trial>
            <version>0.0.1</version>
        </TSG_Trial>
    </modules>
    <admin>
        <routers>
            <tsgtrial_admin>
                <use>admin</use>
                <args>
                    <module>TSG_Trial</module>
                    <frontName>tsgtrial_admin</frontName>
                </args>
            </tsgtrial_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <tsgtrial module="tsgtrial">
                <title>News</title>
                <sort_order>77</sort_order>
                <action>tsgtrial_admin/adminhtml_news</action>
            </tsgtrial>
        </menu>
    </adminhtml>
    <frontend>
        <routers>
            <trial>
                <use>standard</use>
                <args>
                    <module>TSG_Trial</module>
                    <frontName>helloMagento</frontName>
                </args>
            </trial>
        </routers>
        <layout>
            <updates module="trial">
                <tsg_trial>
                    <file>tsg_trial.xml</file>
                </tsg_trial>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <tsgtrial>
                <class>TSG_Trial_Block</class>
            </tsgtrial>
        </blocks>
        <helpers>
            <tsgtrial>
                <class>TSG_Trial_Helper</class>
            </tsgtrial>
        </helpers>
        <models>
            <tsgtrial>
                <class>TSG_Trial_Model</class>
                <resourceModel>tsgtrial_resource</resourceModel>
            </tsgtrial>
            <tsgtrial_resource>
                <class>TSG_Trial_Model_Resource</class>
                <entities>
                    <table_news>
                        <table>news</table>
                    </table_news>
                </entities>
            </tsgtrial_resource>
        </models>
        <resources>
            <tsgtrial_setup>
                <setup>
                    <module>TSG_Trial</module>
                </setup>
            </tsgtrial_setup>
        </resources>
    </global>

    <default>

    </default>
</config>